@page {
    size: a4 portrait;
    counter-increment: page;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
    color: grey;
    font-size: 12px;
    @top-right {
        content: 'Header (short running title, ...)';
    }
    @bottom-center {
        content: 'Footer (contract number, date, ...)';
    }
}
